스택 Stack

나중에 넣은 데이터를 먼저 반환하도록 설계된 메모리 구조
Last In First Out (LIFO)
data 입력을 push, 출력을 pop

In [2]:
a = [1,2,3,4,5]
print(a)
a.append(10)
a.append(20)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10, 20]

In [3]:
a.pop()

20

In [4]:
a.pop()

10

In [5]:
print(a)

[1, 2, 3, 4, 5]

In [6]:
a1 = [5,2,4,3,1]
print(a1)
a2 = a1.sort()
print(a1)
print(a2)

[5, 2, 4, 3, 1]
[1, 2, 3, 4, 5]
None

In [7]:
a1 = [5,2,4,3,1]
print(a1)
a2 = sorted(a1)
print(a1)
print(a2)

[5, 2, 4, 3, 1]
[5, 2, 4, 3, 1]
[1, 2, 3, 4, 5]

In [12]:
a = [1,2,3,4,5]
print(a)
a.append(10)
a.append(20)
c = a.pop()
d = a.pop(-1)
print(c)
print(d)
print(a)

[1, 2, 3, 4, 5]
20
10
[1, 2, 3, 4, 5]

In [16]:
word = input("Input a word : ")
word_list = list(word)
for i in range(len(word_list)):
    print(word_list.pop(), end = '')

python

큐  Queue

First In First Out (FIFO)
스택 구조랑 반대
먼저넣은 데이터를 먼저 반환

In [17]:
a = [1,2,3,4,5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [18]:
first = a.pop(0)
a

[2, 3, 4, 5, 10, 20]

In [19]:
first

1

튜플 tuple

값의 변경이 불가능한 리스트
선언 시 [ ] 가 아닌 ( ) 를 사용
리스트의 연산 인덱싱 슬라이싱 동일하게 사용가능

In [27]:
t = (1,2,3)
print(type(t))
print(t + t, t * 2)
print(len(t))
print(t[0])
# t[0] = 2

<class 'tuple'>
(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)
3
1

TypeError: 'tuple' object does not support item assignment

그럼 튜플 왜쓰냐?

학번 이름 우편번호 등 프로그램 작동할때 변경하면 안되는걸 저장할때 사용함

In [28]:
t1 = (1) # 일반 정수로 인식
t2 = (1,) # 값이 하나인 tuple은 반드시 , 써라
print(type(t1),type(t2))

<class 'int'> <class 'tuple'>

집합 set

선언할때 ([ ])도 되고, { }도 가능, 근데 s = {} 이렇게만 하면 dict type임. 조심
값을 순서없이 저장, 중복 불허하는 자료형

In [41]:
s = set([1,2,3,1,2,3])
print(s)
print(type(s))
s1 = {1,2,3,4,5}
print(s1)
print(type(s1))
s2 = {}
print(type(s2))

{1, 2, 3}
<class 'set'>
{1, 2, 3, 4, 5}
<class 'set'>
<class 'dict'>

In [44]:
s = {1,2,3,4}
print(s)
s.add(4)
print(s)
s.add(6)
s.add(10)
print(s)
s.add(5)
print(s)
# 자동 정렬 되나??

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 6, 10}
{1, 2, 3, 4, 5, 6, 10}

In [50]:
s = {1,2,3}
print(s)
s.update({1,2,3,6,5,4})
print(s)
s.discard(1) # 한번에 하나씩 삭제 가능. 여러개 지우려면 set끼리 빼면 될듯?
print(s)

{1, 2, 3}
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [57]:
# set 속 여러 원소 삭제할떄
s1 = {1,2,3,4,5}
rem_set = {2,4}
print(f"The original set is = {s1}")
print(f"The number that I want to remove from the set = {rem_set}")
s2 = s1 - rem_set
print(s2)

The original set is = {1, 2, 3, 4, 5}
The number that I want to remove from the set = {2, 4}
{1, 3, 5}

In [ ]:
s1 = {1,2,3,4,5}
s1.clear() # 모든 원소 삭제
print(s1)

set은 집합이니까 우리가아는

union intersection difference 다 가능

In [67]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(s1,s2)

{1, 2, 3, 4, 5} {3, 4, 5, 6, 7}

In [69]:
print(s1.union(s2)) # 합집합 | 로 사용가능
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [65]:
print(s1.intersection(s2)) # 교집합 & 도 가능
print(s1 & s2)

{3, 4, 5}
{3, 4, 5}

In [70]:
print(s1.difference(s2)) # 차집합 - 도 가능
print(s1 - s2)

{1, 2}
{1, 2}

사전 dictionary

데이터를 저장 할때 구분지을수 있는 값을 함께 저장
ex 주민등록번호, 제품모델 번호

구분을 위한 데이터 고유값을 Identifier 혹은 Key라고함
Key 값을 활용해서 데이터값(Value)를 관리함

In [72]:
student_info = {201431981: 'Yongkyu',
                201431982: 'Unknown'}
print(type(student_info))
print(student_info)

<class 'dict'>
{201431981: 'Yongkyu', 201431982: 'Unknown'}

In [86]:
country_code = {} # Dict 생성, country_code = dict() 도 가능
country_code = {"America": 1, "Korea": 82, "China": 86, "Japan": 81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [87]:
for dict_items in country_code.items(): # Dict 데이터 출력
    print(dict_items)

('America', 1)
('Korea', 82)
('China', 86)
('Japan', 81)

In [88]:
country_code.keys() # Dict 키 값만 출력

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [89]:
country_code["German"]=49 # Dict 추가
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 49}

In [90]:
country_code["China"]=866 # Dict 기존 키 값 변경
country_code

{'America': 1, 'Korea': 82, 'China': 866, 'Japan': 81, 'German': 49}

In [91]:
country_code.values() # Dict value만 출력

dict_values([1, 82, 866, 81, 49])

In [93]:
for k,v in country_code.items():
    print("Key : ", k)
    print("Value : ", v)

Key :  America
Value :  1
Key :  Korea
Value :  82
Key :  China
Value :  866
Key :  Japan
Value :  81
Key :  German
Value :  49

In [96]:
"America" in country_code.keys() # 키 값에 특정값이 있는지 확인

True

In [100]:
82 in country_code.values() # value값에 특정값이 있는지 확인

True

Lab - dict

In [107]:
import wget
url = r'https://bit.ly/3nR3qFa'
wget.download(url)

'3nR3qFa'

In [1]:
import os
print(os.listdir())
os.rename('3nR3qFa','command_data.csv')

In [2]:
print(os.listdir())

['command_data.csv', 'stack_ex.ipynb']